html,
body {
  display: flex;
}

.scroll-movie {
  overflow: scroll;
}

.scroll-movie__inner {
  position: fixed;
}

.scroll-movie__image-view {
  height: 100vh;
  width: auto;
}

.notFadeInStart {
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  opacity: 1;
}

.notFadeInEnd {
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  opacity: 0;
}

.scroll-movie__track-view_start {
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  animation-name: scroll-movie-fadein;
  animation-duration: 0.5s;
  opacity: 1;
}

@keyframes scroll-movie-fadein {
  from {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

.scroll-movie__track-view_end {
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
  animation-name: scroll-movie-fadeout;
  animation-duration: 0.5s;
  opacity: 0;
}

@keyframes scroll-movie-fadeout {
  from {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}

.scroll-movie__slider-bar {
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  height: 6px;
  background: white;
  border-radius: 10px;
  width: 60%;
  overflow: hidden;
}

::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw yellow;
  border: 2px solid #999;
}

.scroll-movie__navigation {
  position: absolute;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.scroll-movie__label-view {
  width: 200px;
}
