.scroll-movie {
  overflow: scroll;
}

.scroll-movie__inner {
  position: fixed;
}

.scroll-movie__image-view {
  height: 100vh;
  width: auto;
}

.scroll-movie__track-view {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
  transition: all 0.3s ease-in;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.5em;
  color: white;
}

.scroll-movie__track-view_start {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.scroll-movie__track-view_end {
  transform: translate(-50%, -100%);
  opacity: 0;
}

.scroll-movie__slider-bar {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  outline: none;
  height: 6px;
  background: white;
  border-radius: 10px;
}

.scroll-movie__slider-bar-inner {
  background-color: #fc0;
  height: 6px;
}

.scroll-movie__slider-bar-thumb {
  height: 10px;
  width: 10px;
  background-color: #fc0;
  position: absolute;
  top: 0;
}

.scroll-movie__slider-bar-label {
  position: absolute;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.scroll-movie__navigation {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
}

.scroll-movie__label-view {
  width: 200px;
  padding: 15px;
  border: none;
  transition: all 0.3s ease-in;
  cursor: pointer;
}

.scroll-movie__label-view-active {
  background-color: #fc0;
  color: #fff;
}

.scroll-movie__label-view:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.scroll-movie__label-view:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
