body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

pre code {
  border-radius: 10px;
}

.hljs {
  background-color: rgba(30, 30, 30, 0.5);
}

table {
  border-collapse: collapse;
}

th {
  border: 1px solid #fff;
  padding: 8px;
  min-width: 300px;
  font-weight: bold;
  background-color: rgba(30, 30, 30, 0.5);
  font-size: 18px;
}

td {
  border: 1px solid #fff;
  padding: 12px;
  min-width: 300px;
  font-size: 16px;
}

.default-font-text {
  font-weight: normal;
  line-height: 1.7;
}

.slider-1-section {
  width: 1000px;
  max-width: 100%;
  margin-top: 200px;
}

.slider-2-section {
  width: 1000px;
  max-width: 100%;
  margin-top: 100px;
}

.slider-3-section {
  width: 1000px;
  max-width: 100%;
  margin-top: 200px;
}

.slider-4-section {
  width: 1000px;
  max-width: 100%;
  margin-top: 80px;
}

.slider-5-section {
  width: 1000px;
  max-width: 100%;
  margin-top: 100px;
}

.slider-6-section {
  width: 1000px;
  max-width: 100%;
  margin-top: 200px;
}

.slider-7-section {
  width: 1000px;
  max-width: 100%;
  margin-top: 200px;
}

.slider-8-section {
  width: 1000px;
  max-width: 100%;
  margin-top: 140px;
}

.slider-9-section {
  width: 1000px;
  max-width: 100%;
  margin-top: 50px;
}

.slider-10-section {
  width: 1000px;
  max-width: 100%;
  margin-top: 100px;
}

.slider-11-section {
  width: 1000px;
  max-width: 100%;
  margin-top: 100px;
}

.slider-12-section {
  width: 1000px;
  max-width: 100%;
  margin-top: 150px;
}

.slider-13-section {
  width: 1000px;
  max-width: 100%;
  margin-top: 250px;
}

.slider-all-section {
  font-size: 14px;
  width: 1300px;
  margin-top: 20px;
}

.twitter-link,
.twitter-link:link,
.twitter-link:hover,
.twitter-link:visited {
  color: #fff;
}

.scroll-movie--is-loading
  .scroll-movie__inner
  .scroll-movie__track-view
  .slider-1-section
  .scroll-image {
  opacity: 0;
}

.scroll-image {
  transition: all 1s;
  opacity: 1;
  margin-top: 50px;
  text-align: center;
}

.original-css-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  color: white;
  opacity: 1;
}

.original-css-end {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%, -50%);
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  color: white;
  opacity: 0;
}

.scroll-movie__slider-bar-label-button-active {
  color: #fc0;
}

.github-link,
.github-link:link,
.github-link:hover,
.github-link:visited {
  color: #fff;
}

.highlight {
  border: 2px solid #fc0;
  display: inline-block;
  padding: 3px;
}

@media (max-width: 767px) {
  .slider-5-section {
    width: 1000px;
    max-width: 100%;
    margin-top: 100px;
  }
  .slider-10-section {
    width: 1000px;
    max-width: 100%;
    margin-top: 200px;
  }
  .slider-11-section {
    width: 1000px;
    max-width: 100%;
    margin-top: 250px;
  }
  .table-container {
    white-space: nowrap;
    overflow: scroll;
  }
  table {
    border-collapse: collapse;
  }
  th {
    border: 1px solid #fff;
    padding: 4px;
    min-width: 120px;
    font-weight: bold;
    background-color: rgba(30, 30, 30, 0.5);
  }
  td {
    border: 1px solid #fff;
    padding: 8px;
    min-width: 120px;
  }
}

@media (max-width: 1020px) and (min-width: 768px) {
  .slider-1-section {
    width: 1000px;
    max-width: 100%;
    margin-top: 300px;
  }
  .slider-2-section {
    width: 1000px;
    max-width: 100%;
    margin-top: 250px;
  }
  .slider-3-section {
    width: 1000px;
    max-width: 100%;
    margin-top: 300px;
  }
  .slider-4-section {
    width: 1000px;
    max-width: 100%;
    margin-top: 250px;
  }
  .slider-5-section {
    width: 1000px;
    max-width: 100%;
    margin-top: 250px;
  }
  .slider-6-section {
    width: 1000px;
    max-width: 100%;
    margin-top: 350px;
  }
  .slider-7-section {
    width: 1000px;
    max-width: 100%;
    margin-top: 350px;
  }
  .slider-8-section {
    width: 1000px;
    max-width: 100%;
    margin-top: 250px;
  }
  .slider-9-section {
    width: 1000px;
    max-width: 100%;
    margin-top: 200px;
  }
  .slider-10-section {
    width: 1000px;
    max-width: 100%;
    margin-top: 250px;
  }
  .slider-11-section {
    width: 1000px;
    max-width: 100%;
    margin-top: 300px;
  }
  .slider-12-section {
    width: 1000px;
    max-width: 100%;
    margin-top: 250px;
  }
  .slider-13-section {
    width: 1000px;
    max-width: 100%;
    margin-top: 350px;
  }
  .table-container {
    white-space: nowrap;
    overflow: scroll;
  }
  th {
    border: 1px solid #fff;
    padding: 4px;
    min-width: 120px;
    font-weight: bold;
    background-color: rgba(30, 30, 30, 0.5);
  }
  td {
    border: 1px solid #fff;
    padding: 8px;
    min-width: 120px;
  }
}
