.originalCssStart {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  color: white;
  opacity: 1;
}

.originalCssEnd {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(100%, -50%);
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  color: white;
  opacity: 0;
}

.scroll-movie__slider-bar-label-button-active {
  color: #fc0;
}
