body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium",
    "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
}

pre code {
  border-radius: 10px;
}

.hljs {
  background-color: rgba(30, 30, 30, 0.5);
}

table {
  border-collapse: collapse;
}

th {
  border: 1px solid #fff;
  padding: 8px;
  min-width: 300px;
  font-weight: bold;
  background-color: rgba(30, 30, 30, 0.5);
  font-size: 18px;
}

td {
  border: 1px solid #fff;
  padding: 12px;
  min-width: 300px;
  font-size: 16px;
}

.default-text-font {
  font-weight: normal;
  line-height: 1.7;
}

.default-class {
  width: 1000px;
  max-width: 100%;
}

.code-image-size {
  width: 1000px;
  max-width: 100%;
}

.original-css-start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  color: white;
  opacity: 1;
}

.original-css-end {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(100%, -50%);
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 20px;
  color: white;
  opacity: 0;
}

.scroll-movie__slider-bar-label-button-active {
  color: #fc0;
}

@media (max-width: 767px) {
  table {
    border-collapse: collapse;
  }
  th {
    border: 1px solid #fff;
    padding: 4px;
    min-width: 120px;
    font-weight: bold;
    background-color: rgba(30, 30, 30, 0.5);
    font-size: 12px;
  }

  td {
    border: 1px solid #fff;
    padding: 8px;
    min-width: 120px;
    font-size: 10px;
  }
  .default-class {
    max-width: 100%;
  }
  .code-image-size {
    max-width: 100%;
  }
}
