html,
body {
  height: 12000px;
}

#home {
  position: fixed;
}

.image {
  position: relative;
}

.image span {
  position: absolute;
  top: 60%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 2em;
  color: white;
}
