html,
body {
  height: 168500px;
}

.home {
  position: fixed;
}

.image {
  position: relative;
}

.image #track {
  position: absolute;
  top: 60%;
  left: 50%;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 2em;
  color: white;
}

.image #sliderBar {
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  height: 6px;
  background: white;
  border-radius: 10px;
  width: 60%;
}

.button {
  position: absolute;
  top: 90%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.button input {
  width: 100px;
}
